<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metric Imperial Converter</title>
    <link rel="stylesheet" href="https://chiefwoods.github.io/footer-template/template.css">
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    <script src="../public/script.js" defer></script>
  </head>

  <body>
    <main>
      <h1>Metric Imperial Converter</h1>
      <hr>
      <div class="example">
        <h2>Example Usage:</h2>
        <div>
          <code>/api/convert?input=4gal</code>
          <code>/api/convert?input=1/2km</code>
          <code>/api/convert?input=5.4/3lbs</code>
          <code>/api/convert?input=kg</code>
        </div>
      </div>
      <div class="example">
        <h2>Example Output:</h2>
        <div>
          <code>{ initNum: 3.1, initUnit: 'mi', returnNum: 4.98895, returnUnit: 'km', string: '3.1 miles converts to 4.98895 kilometers' }</code>
        </div>
      </div>
      <hr>
      <form>
        <div>
          <input type="text" name="input" placeholder="3.1mi">
          <button type="submit">Convert</button>
        </div>
        <p id="result"></p>
        <code id="json-result"></code>
      </form>
    </main>
    <footer>
      <span class="made-by">Copyright @
        <script>document.write(new Date().getFullYear())</script> ChiefWoods
      </span>
      <a class="github-link" href="https://github.com/ChiefWoods/metric-imperial-converter" target="_blank">
        <img src="./public/icons/github.svg" class="github-icon" alt="GitHub">
      </a>
    </footer>
  </body>

</html>